In [ ]:
the time span of the comments
word count/ frequncy
number of words in each comment after stopwords have beenremoved
length of reviews
display of language
dropping none english reviews
word cloud
top keywords

#! pip install spacy spacy-langdetect
#! python -m spacy download en_core_web_sm

## Merging all csv files

In [2]:
import os
import pandas as pd

# Set the paths to the folders
folder_paths = ["/workspace/IMDB_tutorial/Tari_csv/Attractions", "/workspace/IMDB_tutorial/Tari_csv/Hotels", "/workspace/IMDB_tutorial/Tari_csv/Restaurants"]

# Initialize an empty DataFrame to store the merged data
merged_data = pd.DataFrame()

# Loop through each folder
for folder_path in folder_paths:
    # Get the list of CSV files in the folder
    csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]
    print('1')
    
    # Loop through each CSV file in the folder
    for csv_file in csv_files:
        # Construct the full path to the CSV file
        file_path = os.path.join(folder_path, csv_file)
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path,lineterminator='\n')
        
        print('2')
        # Concatenate the DataFrame to the merged_data
        merged_data = pd.concat([merged_data, df], ignore_index=True)

# Write the merged data to a new CSV file
merged_data = merged_data.drop('title', axis=1)
reddit_data = pd.read_csv('/workspace/IMDB_tutorial/Tari_csv/london_reddit_merged_data.csv')
merged_full_data = pd.concat([merged_data, reddit_data], ignore_index=True)
merged_full_data.to_csv("/workspace/IMDB_tutorial/Tari_csv/merged_full_data.csv", index=False)

1
2
2
2
2
2
1
2
2
2
2
2
1
2
2
2
2
2

In [2]:
import pandas as pd
ed = pd.read_csv("/workspace/IMDB_tutorial/Tari_csv/merged_full_data.csv",lineterminator='\n')
ed

,date_written,content
0,"February 20, 2020",An absolutely excellent stop on the tourist tr...
1,"January 30, 2020",I’ve been before but decided to get the audio ...
2,"January 15, 2020",We bought our tickets in advance and printed t...
3,"January 12, 2020","Our family visited on a cold, very crowded day..."
4,"October 24, 2023",The Tower of London is a lovely historic monum...
...,...,...
52901,"Friday, June 2, 2023 at 8:13:50 PM GMT+1",Hām in West Hampstead has been my favourite Lo...
52902,"Friday, June 2, 2023 at 8:25:15 PM GMT+1",I want to go to paradise! Its highly likely il...
52903,"Friday, June 2, 2023 at 8:46:53 PM GMT+1","For Indian, we really enjoyed Trishna."
52904,"Monday, June 5, 2023 at 9:58:54 AM GMT+1","I'd pick Bibi over Gymkhana, but both are sens..."
52905,"Thursday, June 22, 2023 at 10:28:41 PM GMT+1","Barrafina hasn't been mentioned, so I'll add t..."

## Word count without stopwords

In [3]:
import pandas as pd
import nltk
from nltk.corpus import stopwords

# Download the stopwords dataset
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
# Function to count words without stopwords
def count_words_without_stopwords(text):
    # Check if the value is a string or bytes-like object
    if isinstance(text, (str, bytes)):
        # Tokenize the text
        words = nltk.word_tokenize(str(text))
        
        # Remove stopwords
        stop_words = set(stopwords.words('english'))
        filtered_words = [word for word in words if word.lower() not in stop_words]
        
        # Return the count of non-stopwords
        return len(filtered_words)
    else:
        # If the value is not a string or bytes-like, return 0
        return 0
# Apply the function to the 'Text' column and create a new column 'WordCount'
ed['WordCount'] = ed['content'].apply(count_words_without_stopwords)

# Display the DataFrame with word counts
ed

[nltk_data] Downloading package stopwords to /home/gitpod/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/gitpod/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/gitpod/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,date_written,content,WordCount
0,"February 20, 2020",An absolutely excellent stop on the tourist tr...,29
1,"January 30, 2020",I’ve been before but decided to get the audio ...,49
2,"January 15, 2020",We bought our tickets in advance and printed t...,93
3,"January 12, 2020","Our family visited on a cold, very crowded day...",36
4,"October 24, 2023",The Tower of London is a lovely historic monum...,112
...,...,...,...
52901,"Friday, June 2, 2023 at 8:13:50 PM GMT+1",Hām in West Hampstead has been my favourite Lo...,51
52902,"Friday, June 2, 2023 at 8:25:15 PM GMT+1",I want to go to paradise! Its highly likely il...,12
52903,"Friday, June 2, 2023 at 8:46:53 PM GMT+1","For Indian, we really enjoyed Trishna.",6
52904,"Monday, June 5, 2023 at 9:58:54 AM GMT+1","I'd pick Bibi over Gymkhana, but both are sens...",40
52905,"Thursday, June 22, 2023 at 10:28:41 PM GMT+1","Barrafina hasn't been mentioned, so I'll add t...",12

## Detecting language

In [5]:
import pandas as pd
import langid


# Function to detect language using langid
def detect_language(text):
    # Convert NaN to an empty string
    text = str(text) if pd.notna(text) else ''
    
    # Use langid to detect the language
    lang, confidence = langid.classify(text)
    return lang
# Apply the function to the 'Text' column and create a new column 'Language'
ed['Language'] = ed['content'].apply(detect_language)

ed

,date_written,content,Language
0,"February 20, 2020",An absolutely excellent stop on the tourist tr...,en
1,"January 30, 2020",I’ve been before but decided to get the audio ...,en
2,"January 15, 2020",We bought our tickets in advance and printed t...,en
3,"January 12, 2020","Our family visited on a cold, very crowded day...",en
4,"October 24, 2023",The Tower of London is a lovely historic monum...,en
...,...,...,...
52901,"Friday, June 2, 2023 at 8:13:50 PM GMT+1",Hām in West Hampstead has been my favourite Lo...,en
52902,"Friday, June 2, 2023 at 8:25:15 PM GMT+1",I want to go to paradise! Its highly likely il...,en
52903,"Friday, June 2, 2023 at 8:46:53 PM GMT+1","For Indian, we really enjoyed Trishna.",en
52904,"Monday, June 5, 2023 at 9:58:54 AM GMT+1","I'd pick Bibi over Gymkhana, but both are sens...",en
52905,"Thursday, June 22, 2023 at 10:28:41 PM GMT+1","Barrafina hasn't been mentioned, so I'll add t...",en

In [8]:
ed.Language.value_counts()

Language
en    52829
de       13
nl        8
fr        7
it        6
es        6
zh        5
da        5
la        3
mt        3
sl        3
id        2
ja        2
ht        1
br        1
bn        1
pt        1
eu        1
no        1
is        1
ko        1
fi        1
ga        1
ar        1
pl        1
et        1
sv        1
Name: count, dtype: int64